In [1]:
import pandas as pd

In [31]:
df=pd.read_csv("C:/Users/user/Desktop/대전광역시 데이터/대전시 대중교통 정보.CSV", encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31713 entries, 0 to 31712
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   위치      31713 non-null  object
 1   일자      31713 non-null  object
 2   정류장     31713 non-null  object
 3   정류장 번호  0 non-null      float64
 4   승차승객    31713 non-null  int64
 5   하차승객    31713 non-null  int64
 6   환승      31713 non-null  int64
 7   지역구     0 non-null      float64
 8   위치      0 non-null      float64
 9   위도      0 non-null      float64
 10  경도      0 non-null      float64
dtypes: float64(5), int64(3), object(3)
memory usage: 2.7+ MB

In [32]:
df1=pd.read_csv("C:/Users/user/Desktop/대전광역시 데이터/버스정류장위치정보.csv", encoding='euc-kr')
df1

,정류장명(고유번호ARS),시군구명,읍면동명,경도,위도,경도(십진수 도_분) 표기,위도(십진수 도_분) 표기
0,대덕우체국네거리(51870),대덕구,목상동,12724.3263,3626.6403,127°24.3263'E,36°26.6403'N
1,대덕우체국네거리(51900),대덕구,목상동,12724.3063,3626.6730,127°24.3063'E,36°26.6730'N
2,가는골(12750),동구,대청동,12728.9711,3620.1022,127°28.9711'E,36°20.1022'N
3,가는골(12740),동구,대청동,12728.9727,3620.1156,127°28.9727'E,36°20.1156'N
4,가람아파트(32650),서구,둔산1동,12723.7568,3621.4420,127°23.7568'E,36°21.4420'N
...,...,...,...,...,...,...,...
2359,덕명중학교(45820),유성구,온천1동,12718.0748,3620.7648,127°18.0748'E,36°20.7648'N
2360,덕명중학교(45830),유성구,온천1동,12718.0824,3620.7750,127°18.0824'E,36°20.7750'N
2361,안산1통(43800),유성구,노은2동,12717.9716,3624.6366,127°17.9716'E,36°24.6366'N
2362,KT&G연구소(42971),유성구,신성동,12720.7676,3623.0418,127°20.7676'E,36°23.0418'N
2363,신흥동종점(10530),동구,신인동,12726.5644,3619.3512,127°26.5644'E,36°19.3512'N

In [33]:
df1=df1.rename(columns={'정류장명(고유번호ARS)':'정류장'})
df1

,정류장,시군구명,읍면동명,경도,위도,경도(십진수 도_분) 표기,위도(십진수 도_분) 표기
0,대덕우체국네거리(51870),대덕구,목상동,12724.3263,3626.6403,127°24.3263'E,36°26.6403'N
1,대덕우체국네거리(51900),대덕구,목상동,12724.3063,3626.6730,127°24.3063'E,36°26.6730'N
2,가는골(12750),동구,대청동,12728.9711,3620.1022,127°28.9711'E,36°20.1022'N
3,가는골(12740),동구,대청동,12728.9727,3620.1156,127°28.9727'E,36°20.1156'N
4,가람아파트(32650),서구,둔산1동,12723.7568,3621.4420,127°23.7568'E,36°21.4420'N
...,...,...,...,...,...,...,...
2359,덕명중학교(45820),유성구,온천1동,12718.0748,3620.7648,127°18.0748'E,36°20.7648'N
2360,덕명중학교(45830),유성구,온천1동,12718.0824,3620.7750,127°18.0824'E,36°20.7750'N
2361,안산1통(43800),유성구,노은2동,12717.9716,3624.6366,127°17.9716'E,36°24.6366'N
2362,KT&G연구소(42971),유성구,신성동,12720.7676,3623.0418,127°20.7676'E,36°23.0418'N
2363,신흥동종점(10530),동구,신인동,12726.5644,3619.3512,127°26.5644'E,36°19.3512'N

In [38]:
df = df.drop(columns=['정류장 번호', '지역구', '위치', '위도', '경도'], axis=1)

KeyError: "['정류장 번호' '지역구' '위치' '위도' '경도'] not found in axis"

In [39]:
df

      위치          일자                정류장   승차승객  하차승객   환승
0      버스  2021년 01월       DCC종점(45320)   1795   153   32
1      버스  2021년 01월    GS칼텍스저유소(33220)     73    40   12
2      버스  2021년 01월  KAIST문지캠퍼스(44030)   1395   263    6
3      버스  2021년 01월        KT&G(53020)      2    52    1
4      버스  2021년 01월      KT&G사택(53240)     48     9    0
...    ..        ...                ...    ...   ...  ...
31708  버스  2021년 12월        흑석리역(33680)     27    66    0
31709  버스  2021년 12월        흑석리역(33690)     18    28    4
31710  버스  2021년 12월      흥도초등학교(41800)   1468  8857   90
31711  버스  2021년 12월      흥도초등학교(41810)  15100  7856  812
31712  버스  2021년 12월      흥룡초등학교(11560)   4787  4268  215

[31713 rows x 6 columns]

In [42]:
df['정류장']

0             DCC종점(45320)
1          GS칼텍스저유소(33220)
2        KAIST문지캠퍼스(44030)
3              KT&G(53020)
4            KT&G사택(53240)
               ...
31708          흑석리역(33680)
31709          흑석리역(33690)
31710        흥도초등학교(41800)
31711        흥도초등학교(41810)
31712        흥룡초등학교(11560)
Name: 정류장, Length: 31713, dtype: object

In [46]:
df2=pd.merge(left = df , right = df1, how = "left", on = "정류장")

In [47]:
df2

,위치,일자,정류장,승차승객,하차승객,환승,시군구명,읍면동명,경도,위도,경도(십진수 도_분) 표기,위도(십진수 도_분) 표기
0,버스,2021년 01월,DCC종점(45320),1795,153,32,유성구,신성동,12723.3850,3622.5733,127°23.3850'E,36°22.5733'N
1,버스,2021년 01월,GS칼텍스저유소(33220),73,40,12,서구,가수원동,12721.4062,3617.7421,127°21.4062'E,36°17.7421'N
2,버스,2021년 01월,KAIST문지캠퍼스(44030),1395,263,6,유성구,전민동,12724.0043,3623.4105,127°24.0043'E,36°23.4105'N
3,버스,2021년 01월,KT&G(53020),2,52,1,대덕구,덕암동,12725.6424,3626.2734,127°25.6424'E,36°26.2734'N
4,버스,2021년 01월,KT&G사택(53240),48,9,0,대덕구,덕암동,12725.9211,3626.2912,127°25.9211'E,36°26.2912'N
...,...,...,...,...,...,...,...,...,...,...,...,...
31708,버스,2021년 12월,흑석리역(33680),27,66,0,서구,기성동,12720.3983,3615.3126,127°20.3983'E,36°15.3126'N
31709,버스,2021년 12월,흑석리역(33690),18,28,4,서구,기성동,12720.4041,3615.3177,127°20.4041'E,36°15.3177'N
31710,버스,2021년 12월,흥도초등학교(41800),1468,8857,90,유성구,원신흥동,12720.2859,3620.0297,127°20.2859'E,36°20.0297'N
31711,버스,2021년 12월,흥도초등학교(41810),15100,7856,812,유성구,원신흥동,12720.2955,3620.0287,127°20.2955'E,36°20.0287'N
31712,버스,2021년 12월,흥룡초등학교(11560),4787,4268,215,동구,가양1동,12726.7886,3620.6608,127°26.7886'E,36°20.6608'N

In [48]:
df2.isnull().sum()

위치                   0
일자                   0
정류장                  0
승차승객                 0
하차승객                 0
환승                   0
시군구명              4590
읍면동명              4590
경도                4590
위도                4590
경도(십진수 도_분) 표기    4590
위도(십진수 도_분) 표기    4590
dtype: int64

In [49]:
df3=df2.dropna(axis=0)
df3.isnull().sum()

위치                0
일자                0
정류장               0
승차승객              0
하차승객              0
환승                0
시군구명              0
읍면동명              0
경도                0
위도                0
경도(십진수 도_분) 표기    0
위도(십진수 도_분) 표기    0
dtype: int64

In [50]:
df3.to_csv('2021대중교통이용현황.csv', index=False, encoding='cp949')