In [1]:
import pandas as pd

In [7]:
df1= pd.read_csv("C:/Users/user/Desktop/대전광역시 데이터/타슈 이용현황/2021타슈이용현황(0,결측치제거).csv", encoding='euc-kr')
df1.isnull().sum()

대여스테이션       0
대여일시         0
대여일          0
반납스테이션       0
반납일시         0
반납일          0
이동거리(m)    690
회원구분         0
dtype: int64

In [11]:
df1

,대여스테이션,대여일시,대여일,반납스테이션,반납일시,반납일,이동거리(m),회원구분
0,1,2021-01-06 18:35,2021-01-06,1,2021-01-06 18:35,2021-01-06,0.0,2
1,1,2021-01-14 21:16,2021-01-14,1,2021-01-14 21:17,2021-01-14,0.0,2
2,1,2021-01-14 21:29,2021-01-14,1,2021-01-14 21:30,2021-01-14,10.0,2
3,1,2021-01-15 21:27,2021-01-15,1,2021-01-15 21:50,2021-01-15,610.0,2
4,1,2021-01-15 21:35,2021-01-15,1,2021-01-15 21:36,2021-01-15,0.0,2
...,...,...,...,...,...,...,...,...
485940,342,2021-11-17 14:01,2021-11-17,342,2021-11-17 14:21,2021-11-17,2317.0,1
485941,342,2021-11-18 19:15,2021-11-18,342,2021-11-18 19:15,2021-11-18,NaN,0
485942,342,2021-12-13 13:30,2021-12-13,342,2021-12-13 14:12,2021-12-13,1109.0,0
485943,342,2021-12-21 10:45,2021-12-21,342,2021-12-21 11:36,2021-12-21,12.0,0
485944,342,2021-12-24 8:11,2021-12-24,342,2021-12-24 8:20,2021-12-24,1287.0,0

In [4]:
df2=pd.read_csv("C:/Users/user/Desktop/대전광역시 데이터/타슈 이용현황/타슈주차장좌표.csv", encoding='euc-kr')
df2

      번호                    정류장                    위치
0      1         무역전시관입구(택시승강장)           유성구 도룡동 3-8
1      2                대전컨벤션센터          유성구 도룡동 4-19
2      3                 한밭수목원1            서구 만년동 396
3      4      초원아파트(104동 버스정류장)            서구 만년동 401
4      5        둔산대공원 입구(버스정류장)       서구 둔산2동 1521-10
..   ...                    ...                   ...
297  338         크로바아파트(정문 맞은편)   서구 둔산1동 둔산1동 1554-1
298  339              청솔아파트(9동)       서구 둔산동 둔산동 2161
299  340                 오페라웨딩홀       서구 둔산동 둔산동 1257
300  341   대전종합고용지원센터(탄방역 4번출구)     서구 탄방동 탄방동 1453-1
301  342                 한가람아파트       서구 탄방동 탄방동 1447

[302 rows x 3 columns]

In [9]:
df2=df2.rename(columns={'번호':'대여스테이션'})
df2

     대여스테이션                    정류장                    위치
0         1         무역전시관입구(택시승강장)           유성구 도룡동 3-8
1         2                대전컨벤션센터          유성구 도룡동 4-19
2         3                 한밭수목원1            서구 만년동 396
3         4      초원아파트(104동 버스정류장)            서구 만년동 401
4         5        둔산대공원 입구(버스정류장)       서구 둔산2동 1521-10
..      ...                    ...                   ...
297     338         크로바아파트(정문 맞은편)   서구 둔산1동 둔산1동 1554-1
298     339              청솔아파트(9동)       서구 둔산동 둔산동 2161
299     340                 오페라웨딩홀       서구 둔산동 둔산동 1257
300     341   대전종합고용지원센터(탄방역 4번출구)     서구 탄방동 탄방동 1453-1
301     342                 한가람아파트       서구 탄방동 탄방동 1447

[302 rows x 3 columns]

In [10]:
df3 = pd.merge(df1, df2, on = '대여스테이션', how = 'left')
df3

,대여스테이션,대여일시,대여일,반납스테이션,반납일시,반납일,이동거리(m),회원구분,정류장,위치
0,1,2021-01-06 18:35,2021-01-06,1,2021-01-06 18:35,2021-01-06,0.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8
1,1,2021-01-14 21:16,2021-01-14,1,2021-01-14 21:17,2021-01-14,0.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8
2,1,2021-01-14 21:29,2021-01-14,1,2021-01-14 21:30,2021-01-14,10.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8
3,1,2021-01-15 21:27,2021-01-15,1,2021-01-15 21:50,2021-01-15,610.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8
4,1,2021-01-15 21:35,2021-01-15,1,2021-01-15 21:36,2021-01-15,0.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8
...,...,...,...,...,...,...,...,...,...,...
485940,342,2021-11-17 14:01,2021-11-17,342,2021-11-17 14:21,2021-11-17,2317.0,1,한가람아파트,서구 탄방동 탄방동 1447
485941,342,2021-11-18 19:15,2021-11-18,342,2021-11-18 19:15,2021-11-18,NaN,0,한가람아파트,서구 탄방동 탄방동 1447
485942,342,2021-12-13 13:30,2021-12-13,342,2021-12-13 14:12,2021-12-13,1109.0,0,한가람아파트,서구 탄방동 탄방동 1447
485943,342,2021-12-21 10:45,2021-12-21,342,2021-12-21 11:36,2021-12-21,12.0,0,한가람아파트,서구 탄방동 탄방동 1447
485944,342,2021-12-24 8:11,2021-12-24,342,2021-12-24 8:20,2021-12-24,1287.0,0,한가람아파트,서구 탄방동 탄방동 1447

In [12]:
df4=df2.rename(columns={'대여스테이션':'반납스테이션'})
df4

     반납스테이션                    정류장                    위치
0         1         무역전시관입구(택시승강장)           유성구 도룡동 3-8
1         2                대전컨벤션센터          유성구 도룡동 4-19
2         3                 한밭수목원1            서구 만년동 396
3         4      초원아파트(104동 버스정류장)            서구 만년동 401
4         5        둔산대공원 입구(버스정류장)       서구 둔산2동 1521-10
..      ...                    ...                   ...
297     338         크로바아파트(정문 맞은편)   서구 둔산1동 둔산1동 1554-1
298     339              청솔아파트(9동)       서구 둔산동 둔산동 2161
299     340                 오페라웨딩홀       서구 둔산동 둔산동 1257
300     341   대전종합고용지원센터(탄방역 4번출구)     서구 탄방동 탄방동 1453-1
301     342                 한가람아파트       서구 탄방동 탄방동 1447

[302 rows x 3 columns]

In [13]:
df5 = pd.merge(df3, df4, on='반납스테이션', how='left')
df5

,대여스테이션,대여일시,대여일,반납스테이션,반납일시,반납일,이동거리(m),회원구분,정류장_x,위치_x,정류장_y,위치_y
0,1,2021-01-06 18:35,2021-01-06,1,2021-01-06 18:35,2021-01-06,0.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8,무역전시관입구(택시승강장),유성구 도룡동 3-8
1,1,2021-01-14 21:16,2021-01-14,1,2021-01-14 21:17,2021-01-14,0.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8,무역전시관입구(택시승강장),유성구 도룡동 3-8
2,1,2021-01-14 21:29,2021-01-14,1,2021-01-14 21:30,2021-01-14,10.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8,무역전시관입구(택시승강장),유성구 도룡동 3-8
3,1,2021-01-15 21:27,2021-01-15,1,2021-01-15 21:50,2021-01-15,610.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8,무역전시관입구(택시승강장),유성구 도룡동 3-8
4,1,2021-01-15 21:35,2021-01-15,1,2021-01-15 21:36,2021-01-15,0.0,2,무역전시관입구(택시승강장),유성구 도룡동 3-8,무역전시관입구(택시승강장),유성구 도룡동 3-8
...,...,...,...,...,...,...,...,...,...,...,...,...
485940,342,2021-11-17 14:01,2021-11-17,342,2021-11-17 14:21,2021-11-17,2317.0,1,한가람아파트,서구 탄방동 탄방동 1447,한가람아파트,서구 탄방동 탄방동 1447
485941,342,2021-11-18 19:15,2021-11-18,342,2021-11-18 19:15,2021-11-18,NaN,0,한가람아파트,서구 탄방동 탄방동 1447,한가람아파트,서구 탄방동 탄방동 1447
485942,342,2021-12-13 13:30,2021-12-13,342,2021-12-13 14:12,2021-12-13,1109.0,0,한가람아파트,서구 탄방동 탄방동 1447,한가람아파트,서구 탄방동 탄방동 1447
485943,342,2021-12-21 10:45,2021-12-21,342,2021-12-21 11:36,2021-12-21,12.0,0,한가람아파트,서구 탄방동 탄방동 1447,한가람아파트,서구 탄방동 탄방동 1447
485944,342,2021-12-24 8:11,2021-12-24,342,2021-12-24 8:20,2021-12-24,1287.0,0,한가람아파트,서구 탄방동 탄방동 1447,한가람아파트,서구 탄방동 탄방동 1447

In [14]:
df5.to_csv('2021타슈전처리.csv', index=False, encoding='cp949')